@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import 'helpers/variables';
@import "helpers/mixins";

body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}

li {
  display: inline;
}

a {
  color: $cyan;
}

a:hover {
  text-decoration: underline;
}

.white-link {
  color: white;
  font-weight: 300;
  &:hover {
    color: white;
  }
}

img {
  height: 100%;
  width: auto;
}

p {
  font-weight: 300;
  font-size: 14px;
}

.btn {
  background-color: $cyan;
  &:hover {
    background-color: $cyan;
  }
}

.disable {
  display: none;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.white-box {
  background-color: rgba(255, 255, 255, 0.6);
}

.circleImg {
  border: solid 1px $cyan;
  border-radius: 100%;
  height: 85px;
  width: 85px;
  overflow: hidden;
  margin-top: 2.1rem;
  margin-left: 20px;
}

.arrow {
  position: absolute;
  h4 {
    color: $cyan;
  }
}

.risd-home {
  position: absolute;
  right: -60px;
  top: -60px;
  z-index: 3;
  img {
    width: 150px;
    opacity: 0.75;
  }
}

.welcome-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  h1 {
    width: 50%;
    position: absolute;
    left: 25%;
    color: #4dd2ff;
    text-align: center;
    line-height: 125%;
    font-size: 6rem;
    z-index: 2;
    margin-top: 0;
    padding-bottom: 50px;
  }
}

.nav {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 2;
  li a {
    color: $cyan;
    font-size: 1.25rem;
    margin: 0 40px;
  }
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
}

.arrow {
  z-index: 3;
}

#arrow-down {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  width: 50vw;
  left: 25vw;
  text-align: center;
  @include transition(bottom, 1s);
  a, img {
    display: inline;
  }
  img {
    height: 20vh;
  }
  &:hover {
    bottom: 10px;
  }
}

#arrow-right, #arrow-left {
  height: 50vh;
  top: 25vh;
}

#arrow-right {
  @include transition(right, 1s);
  right: 0;
  margin-right: 25px;
  &:hover {
    right: 10px;
  }
}

#arrow-left {
  @include transition(left, 1s);
  left: 0;
  margin-left: 25px;
  &:hover {
    left: 10px;
  }
}

// Academics
#academics {
  background-image: url('../images/pattern-grey.png');
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
}

#academicsNav {
  width: 100%;
  text-align: center;
  li a {
    color: $teal;
  }
}

.row-margin {
  margin-top: 100px;
  margin-bottom: 0;
}

#foundations, #liberalArts, .majors {
  padding: 15px;
    h1 {
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 3rem;
      color: $teal;
    }
    a {
      color: $teal;
    }
}

#foundations {
  @include dashed-border(bottom, $teal);
  @include dashed-border(right, $teal);
}

#liberalArts {
  @include dashed-border(bottom, $teal);
}

.majors {
  padding-top: 15px;
}

#majorDescription {
  @include dashed-border(right, $teal);
  h1 {
    padding-top: 20px;
  }
}

.majorCircle {
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: white;
  text-align: center;
  background-color: $teal;
  line-height: 50px;
  font-weight: 300;
}

@for $i from 1 through 16 {
  #mj#{$i} {
    background-color: darken($base-teal, $i*5%);
  }
}

#majorsList {
  .row {
    margin-bottom: 10px;
  }
  #row1 {
    margin-top: 20px;
  }
  a:hover {
    color: white;
  }
  p {
    color: $teal;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
}

#student-life {
  background-image: url('../images/pattern-grey.png');
  background-size: cover;
  background-repeat: repeat;
  position: absolute;
  .nav a {
    color: $blue;
  }
  .white-box {
    padding: 15px;
  }
  h1,h2,h3,h4,h5 {
    color: $blue;
    text-align: center;
  }
  p {
    font-weight: 300;
    font-size: 14px;
  }
  .container a {
    color: $blue;
  }
  .row {
    @include dashed-border(bottom, $blue);
    margin-bottom: 0;
  }
}

#slIntro, #slDining, #slDorms {
  h2 {
    text-align: left;
  }
  @include dashed-border(right, $blue);
}

#slGalleries, #slAlumni {
  @include dashed-border(right, $blue);
  @include dashed-border(left, $blue);
}

#slDorms, #slCafes, #slDining {
  p {
    margin-bottom: 3px;
  }
  h4 {
    text-align: left;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
  }
}

#slMuseum, #slAlumni, #slDorms {
  h1, h2, h3, h4, a:hover {
    color: lighten($blue, 15%);
  }
}

#slNatureLab, #slLibrary, #slClubs {
  h1, h2, h3, h4, a:hover {
    color: darken($blue, 10%);
  }
}

#slStudents, #slGalleries, #slCafes {
  h1, h2, h3, h4, a:hover {
    color: darken($blue, 15%)
  }
}

// Tour and Map

#tourMap {
  background-image: url('../images/pattern50.png');
  background-size: cover;
  background-repeat: repeat;
}

#mapWrapper {
  margin-top: 100px;
  padding: 20px;
  #map {
    height: 500px;
  }
}

#tourInfo {
  box-sizing: content-box;
  margin-top: 100px;
  height: 500px;
  padding: 20px 0;
  h1 {
    color: $cyan;
    text-align: center;
  }
  p {
    padding: 0 10px;
  }
}

#startTour {
  margin-top: 20px;
}

#stopNav {
  position: absolute;
  bottom: 20px;
  text-align: center;
  div {
    display: inline;
  }
  a {
    line-height: 24px;
    font-size: 14px;
  }
  i {
    color: $cyan;
    width: 24px;
    vertical-align: text-bottom;
    font-size: 20px;
  }
}

#seeAll {
  padding-top: 3px;
  font-weight: 300;
}

#next {
  float: right;
}

#prev {
  float: left;
}

#images {
  margin-top: 50px;
  #top {
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    right: -100px;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    border: solid 1px $cyan;
    text-align: center;
    font-size: 12px;
    color: $cyan;
    a:hover, i:hover {
      text-decoration: none;
      cursor: pointer;
    }
    h6 {
      margin-top: -10px;
    }
    &:hover {
      background-color: white;
      cursor: pointer;
    }
  }
}

.footer {
  height: 50px;
  width: 100%;
  margin-top: 100px;
  background-color: lighten($blue, 15%);
  text-align: center;
  padding-top: 10px;
  ul {
    margin-top: 0;
    li {
      margin: 0 10px;
      color: white;
      font-weight: 300;
    }
    li:nth-child(1), li:nth-child(2) {
      border-right: solid 1px white;
      padding-right: 20px;
    }
  }
}
