@mixin transition($property, $duration) {
  -webkit-transition: $property $duration;
  -moz-trasition: $property $duration;
  transition: $property $duration;
}

@mixin dashed-border($side, $color) {
  border-#{$side}: dashed 2px $color;
}
